@import "colors.css";

#main {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 10;
}

#navigationView, #toolBox {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-background-radius: 20;
    -fx-border-style: solid;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-border-color: rgb(200, 200, 200);
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.0, 0, 1);
}

#navigation_gauche, #navigation_droite {
    -fx-background-color: -grey-1;
}

#navigation_gauche{
    -fx-spacing: 20;
    -fx-padding: 10;
}
#navigation_droite{
    -fx-spacing: 30;
    -fx-padding: 15;
}

.bouton_navigation{
    -fx-padding: 10;
    -fx-border-style: none;
    -fx-background-color: -blue-1;
    -fx-effect: dropshadow(three-pass-box, -grey-2, 10, 0.0, 0, 1);
}

.bouton_cahier{
    -fx-padding: 10;
    -fx-border-style: none;
    -fx-background-color: -blue-1;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, -grey-2, 10, 0.0, 0, 1);
}

.bouton_navigation:hover, .bouton_cahier:hover{
    -fx-background-color: -blue-1-light;
}

.bouton_navigation:pressed, .bouton_cahier:pressed{
    -fx-background-color: -blue-2;
}