@import "colors.css";

#mainVue {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-style: solid;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-border-color: rgb(150, 150, 150);
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.0, 0, 1);
}



.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}

.text-area {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-insets: 0;
    /*-fx-background-color: blue;*/

}

.text-area .content {
    -fx-background-color: white;
}

.text-area:focused .content {
    -fx-background-color: transparent;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-highlight-fill: #7ecfff;
}

.text-area .scroll-bar:horizontal {
    -fx-pref-height: 1;
    -fx-opacity: 0;
}


.textAreaView {
    -fx-background-color: transparent;
    -fx-resize: none;
}



#scrollPane > .viewport {
    -fx-background-color: transparent;
}



#scrollPane {
   /*-fx-background-color: yellow;*/
   -fx-background-color:transparent;
}

.fondGrandCarreaux {
    -fx-background-image: url("fond-grand-carreaux.png");
}
.fondPetitCarreaux {
    -fx-background-image: url("fond-petit-carreaux.png");
}
.fondPoints {
    -fx-background-image: url("fond-points.png");
}


.imageContenuView {
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.0, 0, 1);
}


#nomCahierLabel {
    -fx-font-style: italic;
    -fx-font-size: 10px;
}

#inpLabel {
    -fx-font-style: italic;
    -fx-font-size: 10px;
}

.bouton_supprimer {
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-margin: 0;
}

.footer_bouton_style{
    -fx-border-color: -grey1-;
    -fx-border-width: 1.5;
    -fx-border-radius: 5;
    -fx-background-insets: 1;
    -fx-background-radius: 12;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, -grey-2, 5, 0.0, 0, 1);
}

.footer_bouton_style: hover {
    -fx-background-color: -grey-2;
}

.codeAreaView {
    -fx-background-color: rgb(60, 60, 60);
}